COLLECTOR_HOST=fermicloud052.fnal.gov
SCHEDD1=fermicloud151.fnal.gov
SCHEDD2=fermicloud158.fnal.gov
SCHEDD_LIST=$(SCHEDD1)
SCHEDD_LIST=$(SCHEDD_LIST),$(SCHEDD2)
JOBSUB_SERVER1=fermicloud173.fnal.gov
JOBSUB_SERVER2=fermicloud178.fnal.gov
JOBSUB_SERVER_LIST=$(JOBSUB_SERVER1) 
JOBSUB_SERVER_LIST=$(JOBSUB_SERVER_LIST),$(JOBSUB_SERVER2) 
CONDOR_HOST=$(COLLECTOR_HOST),$(SCHEDD_LIST),$(JOBSUB_SERVER_LIST)
