COLLECTOR_PORT = 9618
HOSTALLOW_NEGOTIATOR = *
HOSTALLOW_NEGOTIATOR_SCHEDD = *
QUEUE_SUPER_USERS = root,condor,rexbatch
GSI_DAEMON_CERT = /etc/grid-security/hostcert.pem
GSI_DAEMON_KEY = /etc/grid-security/hostkey.pem
QUEUE_SUPER_USER_MAY_IMPERSONATE = .*
TRUST_UID_DOMAIN = TRUE
CERTIFICATE_MAPFILE = /etc/condor/certs/condor_mapfile
GRIDMAP = /etc/condor/certs/condor_mapfile
GSI_DAEMON_CERT = /etc/grid-security/hostcert.pem
GSI_DAEMON_KEY = /etc/grid-security/hostkey.pem
SEC_DEFAULT_AUTHENTICATION_METHODS = FS,GSI
ALLOW_WRITE = *
ALLOW_READ = *
ALL_DEBUG = D_FULLDEBUG
QUEUE_SUPER_USERS = root, condor, rexbatch
AUTO_INCLUDE_SHARED_PORT_IN_DAEMON_LIST = true
COLLECTOR_USES_SHARED_PORT = False
MASTER.USE_SHARED_PORT = True
MAX_SHARED_PORT_LOG = $(MAX_DEFAULT_LOG)
SCHEDD.USE_SHARED_PORT = True
SHADOW.USE_SHARED_PORT = True
#COLLECTOR.USE_SHARED_PORT = True
USE_SHARED_PORT = false
SHARED_PORT_ADDRESS_REWRITING = false
SHARED_PORT_ARGS = -p 9615
SHARED_PORT_DAEMON_AD_FILE = $(LOCK)/shared_port_ad
SHARED_PORT_DEBUG = D_FULLDEBUG
SHARED_PORT_DEFAULT_ID = 
SHARED_PORT = $(LIBEXEC)/condor_shared_port
SHARED_PORT_LOG = $(LOG)/SharedPortLog
SHARED_PORT_MAX_FILE_DESCRIPTORS = 4096
SHARED_PORT_MAX_WORKERS = 1000
#SHARED_PORT_PORT = $(COLLECTOR_PORT)
#ALLOW_NEGOTIATOR_SCHEDD = $(CONDOR_HOST)
#ALLOW_READ_COLLECTOR = $(CONDOR_HOST)
#ALLOW_READ_STARTD = $(CONDOR_HOST)
#ALLOW_WRITE_COLLECTOR = $(CONDOR_HOST)
#ALLOW_WRITE_STARTD = $(CONDOR_HOST)
FLOCK_TO=$(COLLECTOR_HOST)
FLOCK_COLLECTOR_HOSTS = $(FLOCK_TO)
FLOCK_NEGOTIATOR_HOSTS = $(FLOCK_TO)

